<div>
    <form action="/tasks" method="post">
    <div class="mb3 d-flex">
      <input type="text" name="task" id="task" value="{{task}}" placeholder="Skriv mannen" required> 
        <button type="submit" class="btn btn-primary">Add task</button>
    </div>
      </form>
    </div>